.profileDiv {
  width: 954px;
  min-height: 10rem;
  margin: auto;
  margin-top: 3rem;
  background: #007ec4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.profileDiv input {
  width: 621px;
  height: 52px;
  background: #ffffff;
  border-radius: 10px;
  padding: 0 0.5em;
}

.profileDiv input:valid {
  outline: none;
}

.profileDiv button {
  width: 122px;
  height: 52px;
  background: #c4c4c4;
  border-radius: 10px;
}
.profileDiv button:valid {
  outline: none;
}

.data {
  width: 100%;
  min-height: 6rem;
  display: flex;
  border-bottom: 1px solid black;
  margin: 10px 0;
  align-items: center;
  justify-content: space-evenly;
}

.data a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profileDiv {
    width: 100%;
    margin-top: 0;
    border-radius: unset;
  }

  .profileDiv input {
    width: 100%;
  }

  .profileDiv button {
    margin-top: 10px;
  }
}
